// luagar de solo varibles y no se aplico otro estilo hay q tener en cuenta ello
// $rojo: green;



// TIPOGRAFIAS
$fuente_principal: "Montserrat", sans-serif;

// variables de colores
$verde: #4CB8B3;
$rosa: #f53756;
$amarillo: #fef46d;
$Morado: #752f97;
$negro: #000;
$blanco: #ffffff;


// creando Media Queris para impletarlo de una manera mas sensilla
$telefono: 480px;
$tablet: 768px;
$dektop: 992px;
$dektopXl: 1200px;