@use '../base/variable' as v;
@use 'base/mixis' as M;

.galeria{
    padding: 3rem 0;
    h3{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
}
.galeria-imagenes{
    @include M.resetear-lista;
    @include M.grid(2, 2rem);
    @include M.telefono {
        @include M.grid(3, 2rem);
        
    }
    @include M.tablet {
        @include M.grid(3, 2rem);
    }
    @include M.dektop {
        @include M.grid(6, 2rem);
    }
}

.overlay{
    position: fixed;//signfica una posicion fijo 
    top: 0;
    left: 0;
    height: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,.5);
    // margin-left: 70px;
    // justify-content: flex-end;
    picture{
        display: block;
        max-width: 70rem;
        margin-left: 80px;
    }
}

.btn-cerrar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: v.$blanco;
    color: v.$negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    margin-right: 90px;
    &:hover{
        cursor: pointer;
    }
}